@()
<div class="centered-display">
    <h1>Login</h1>
    Username: <input type="text" class="input-box" id="loginName">
    <br>
    Password: <input type="password" class="input-box" id="loginPass">
    <br>
    <button class="submit" onclick="login()">Login</button>
    <h1>Create User</h1>
    Username: <input type="text" class="input-box" id="createName">
    <br>
    Password: <input type="password" class="input-box" id="createPass">
    <br>
    <button class="submit" onclick="createUser()">Create User</button>
</div>

