@(loginForm: Form[LoginData])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Login 1"){
    <div class="container">
        <div class="centered-display">
            <h1>Login</h1>
            <form method="post" action="@routes.taskList1.validateLoginPost">
                @helper.CSRF.formField
                Username: <input type="text" name="username" id="username-login">
                    <br>
                Password: <input type="password" name="password" id="password-login">
                    <br>
                <input type="submit" class="submit">
            </form>

            <h1>Create User</h1>
            @helper.form(action=routes.taskList1.createUserForm) {
                @helper.CSRF.formField
                @helper.inputText(loginForm("Username"))
                @helper.inputPassword(loginForm("Password"))
                <div class="form-actions">
                    <button type="submit" class="submit">submit</button>
                </div>
            }
        </div>
    </div>
}