@(taskList: Seq[String])(implicit request: RequestHeader, flash: Flash)

@main("Task List") {
    <h1>Task List</h1>
    <ul>
        @for((task, i) <- taskList.zipWithIndex) {
            <li>@task</li>
            <form method="post" action="@routes.taskList1.deleteTask">
                @helper.CSRF.formField
            <input type="hidden" name="index" value="@i">
            <input type="submit" value="delete">
            </form>
        }
    </ul>

    <form method="post" action="@routes.taskList1.addTask">
        @helper.CSRF.formField
        <input type="text" name="newTask">
        <input type="submit">
    </form>



    <div>
        <a href="@routes.taskList1.logout">logout</a>
    </div>
}
